{% extends 'base_user.html' %}

{% block left %}
  <div class="d-flex flex-column">
    {% if object %}
      <h4>Edit <span>{{ object.name }}</span></h4>
      {% else %}
        <h4 class="mb-3">Create Collection</h4>
    {% endif %}
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group d-flex flex-column mt-3 mb-3">
        <label class="mb-2" for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
      </div>
    
      <div class="form-group d-flex flex-column  mt-3 mb-3">
        <label class="mb-2" for="{{ form.description.id_for_label }}">Description</label>
        {{ form.description }}
      </div>
    
      <div class="form-group mt-3 mb-3">
        {{ form.shared }}
        <label for="{{ form.shared.id_for_label }}">Share?</label>
        <p class="small mt-2"><b>NOTE: </b>Checking this box makes your collection and its notes and references visible to all users.</p>
      </div>
      <button class="btn btn-outline-secondary btn-md w-100" type="submit">Submit!</button>
    </form>
  </div>
{% endblock %}