{% extends 'base.html' %}

{% block content %}

<div class="content-container container mt-4 py-4">
    <div class="row">
        <div class="top-row px-5 d-flex flex-row justify-content-between align-items-end">
            <h4 class="container-title">My References</h4>
            <div class="right-btns d-flex flex-row">
                <form action="{% url 'search_results' %}" method="GET" class="d-flex" role="search">
                    <select name="type" class="dropdown">
                        <option value="search-user">My Collections</option>
                        <option value="search-shared">All Collections</option>
                    </select>
                    <input name="q" class="search-bar form-control ms-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn search-btn" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
        <div class="border-line"></div>
    </div>
    <div class="col-content-container ref-container row px-4">
        
        <form action="{% url 'references_create' %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ ref_form.as_p }}
            <input type="file" name="url">
            <button class="btn btn-outline-secondary btn-md" type="submit">Submit!</button>
        </form>
    
            {% if references.count %}
                {% for reference in references %}
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="ref-card card my-2 p-3">
                        <p class="mt-2">{{ reference.name }} ({{ reference.get_type_display }})</p>
                        <p class="mt-2">{{ reference.url }}</p>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'references_page_update' reference.id %}"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="col-lg-12">
                <p class="mt-2">No references have been added.</p>
            </div>
            {% endif %}
       
    </div>
</div>


{% endblock %}