{% extends 'base_user.html' %}

{% block right %}
  <div class="d-flex flex-column">
    {% if object %}
      <h4>Edit <span>{{ object.name }}</span></h4>
      {% else %}
        <h4 class="mb-3">Create Reference</h4>
    {% endif %}
    <form action="" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="file" name="url">
      <button class="btn btn-outline-secondary btn-md" type="submit">Submit!</button>
    </form>
  </div>
{% endblock %}