{% extends 'base.html' %}

{% block content %}

<div class="content-container container mt-4 py-4">
    <h4 class="mb-3">References</h4>
        {% if references.count %}
            {% for reference in references %}
            <div class="card my-2 p-3">
                <p class="mt-2">{{ reference.name }} ({{ reference.get_type_display }})</p>
                <p class="mt-2">{{ reference.url }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p class="mt-2">No references have been added.</p>
        {% endif %}
</div>

{% endblock %}