{% extends 'base.html' %}

{% block content %}

<div class="content-container container mt-4 py-4">
    <div class="row">
        {% block top %}
        <div class="top-row px-5 d-flex flex-row justify-content-between align-items-end">
            <h4>My Collections</h4>
            <div class="right-btns d-flex flex-row">
                <a href="{% url 'collections_create' %}"><button class="btn btn-blu btn-md me-3">Add Collection</button></a>
                <a href=""><button class="btn btn-blu btn-md me-3">My References</button></a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search my collections" aria-label="Search">
                    <button class="btn search-btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg></button>
                </form>
            </div>
        </div>
        <div class="border-line"></div>
        {% endblock %}
    </div>
    <div class="col-content-container row">
        <div class="left-col col-12 col-lg-4">
            {% block left %}
            <div class="d-flex flex-column">

                {% for collection in all_collections %}
                <a class="collection-link" href="{% url 'detail' collection.id %}">
                    <div class="collection-card card my-2 p-3">
                        <h4 class="card-title mb-3">{{ collection.name }}</h4>
                        <p class="card-subtitle mb-1">Created on {{ collection.date_created }}</p>
                        <p class="card-subtitle">Updated on {{ collection.date_updated }}</p>
                        <p class="card-text mt-2">{{ collection.description }}</p>
                        
                        <a href="{% url 'collections_update' collection.id %}">Update</a>
                        <a href="{% url 'collections_delete' collection.id %}">Delete</a>
                    </div>
                </a>
            {% endfor %}
            </div>     
            {% endblock %}
        </div>
        <div class="right-col col-12 col-lg-8">
            {% block right %}
            {% endblock %}
        </div>
    </div>
</div>


{% endblock %}