{% extends 'base.html' %}

{% block content %}

<div class="content-container container mt-5">
    <div class="row">
        <div class="left-col col-3">
            {% block left %}
                <h3>{{ user.username }}</h3>
            {% endblock %}
        </div>
        <div class="middle-col col-4">
            {% block middle %}
            {% endblock %}
        </div>
        <div class="right-col col-5">
            {% block right %}
            {% endblock %}
        </div>
    </div>
</div>


{% endblock %}