{% extends 'base.html' %}

{% block content %}

<div class="content-container container mt-5 py-4">
    <div class="row">
        {% block top %}
        <div class="top-row px-5 d-flex flex-row justify-content-between align-items-end">
            <h3 class="m-0">Welcome, <b>{{ user.username }}</b></h3>
            <a href="{% url 'collections_create' %}"><button class="btn btn-outline-secondary btn-md">Add Collection</button></a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search my collections" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="border-line"></div>
        {% endblock %}
    </div>
    <div class="row">
        <div class="left-col col-12 col-lg-4 overflow-scroll">
            {% block left %}
            <div class="d-flex flex-column">
                <h4 class="mb-3">My Collections</h4>
                {% for collection in all_collections %}
                <div class="card m-2 p-4">
                    <h4 class="card-title mb-3">{{ collection.name }}</h4>
                    <p class="card-subtitle mb-1">Created on {{ collection.date_created }}</p>
                    <p class="card-subtitle">Updated on {{ collection.date_updated }}</p>
                    <p class="card-text mt-2">{{ collection.description }}</p>
                    
                    <a href="{% url 'detail' collection.id %}">Details</a>
                </div>
            {% endfor %}
            </div>     
            {% endblock %}
        </div>
        <div class="right-col col-12 col-lg-8 overflow-scroll">
            {% block right %}
            {% endblock %}
        </div>
    </div>
</div>


{% endblock %}