{% extends 'base_user.html' %}


{% block right %}
<div class="d-flex flex-column">
    <a href="{% url 'notes_create' collection.id %}"><button class="btn btn-outline-secondary btn-md">New Note</button></a>
    <div class="card m-2 p-4">
        <h4 class="card-title mb-3">Notes</h4>
        {% if collection.notes.count %}
            {% for note in collection.notes.all %}
                <a href="{% url 'notes_update' collection.id note.id %}"><button class="btn btn-outline-secondary btn-sm">Edit</button></a>
                <a href="{% url 'notes_delete' collection.id %}"><button class="btn btn-outline-secondary btn-sm">Delete</button></a>
                <p class="card-text mt-2">{{ note.content }}</p>
            {% endfor %}
        {% else %}
            <p class="card-text mt-2">No notes have been added to this collection.</p>
        {% endif %}
    </div>
    <div class="card m-2 p-4">
        <h4 class="card-title mb-3">References</h4>
        {% if collection.references.count %}
            {% for reference in collection.references.all %}
                <p class="card-text mt-2">{{ reference.name }} ({{ reference.type }})</p>
                <p class="card-text mt-2">{{ reference.url }}</p>
            {% endfor %}
        {% else %}
            <p class="card-text mt-2">No references have been added to this collection.</p>
        {% endif %}
    </div>
</div>
{% endblock %}