{% extends 'base_user.html' %}


{% block right %}
<div class="d-flex flex-column">
    <h2 class="collection-detail-title">{{ collection.name }}</h2>
    <p class="collection-detail-desc">{{ collection.description }}</p>
    <div class="d-flex">
        {% if collection.user == user %}
            <a role="btn" class="btn btn-blu me-3" href="{% url 'notes_create' collection.id %}">New Note</a>
            <a role="btn" class="btn btn-blu" href="{% url 'references_create' collection.id %}">New Reference</a>
        {% endif %}
    </div>
    
    <div class="mt-4">
        <h4 class="collection-detail-title mb-3">Notes</h4>
        
        {% if collection.notes.count %}
            {% for note in collection.notes.all %}
            <div class="card my-2 p-3">
                <div class="mt-2">
                    {% autoescape off %}
                    {{ note.content }}
                    {% endautoescape %}
                </div>
                <div class="d-flex justify-content-end">
                    {% if collection.user == user %}
                        <a href="{% url 'notes_update' collection.id note.id %}"><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                </div>
            </div>
                
            {% endfor %}
        {% else %}
            <p class="collection-detail-desc mt-2">No notes have been added to this collection.</p>
        {% endif %}
    </div>
    <div class="mt-4">
        <h4 class="collection-detail-title mb-3">References</h4>
        <form  action="{% url 'assoc_ref' collection.id %}" method="POST">
            {% csrf_token %}
            <select class="form-control form-control-md" name="selected_ref">
                <option value="">-- Select</option>
                {% if excluded_references.count %}
                    {% for reference in excluded_references.all %}
                        <option value="{{ reference.id }}">{{ reference.name }}</option>
                    {% endfor %}
                {% else %}
                    <option>No refererences available to add</option>
                {% endif %}
            </select>
            <button type="submit" class="btn mt-4 w-100">Add Reference</button> 
        </form>
        {% if collection.references.count %}
            {% for reference in collection.references.all %}
            <div class="card my-2 p-3">
                <p class="mt-2">{{ reference.name }} ({{ reference.get_type_display }})</p>
                <p class="mt-2">{{ reference.url }}</p>
                <div class="d-flex justify-content-end">
                    {% if collection.user == user %}
                        <a href="{% url 'references_update' collection.id reference.id %}"><i class="bi bi-pencil-square"></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="collection-detail-desc mt-2">No references have been added to this collection.</p>
        {% endif %}
    </div>
</div>

{% endblock %}