{% extends 'base_user.html' %}

{% block middle %}
    <div class="d-flex flex-column">
        <h3>{{ user.username }}'s Collections</h3>
        {% for collection in collections %}
        <div class="card m-2 p-4">
            <h4 class="card-title mb-3">{{ collection.name }}</h4>
            <p class="card-subtitle mb-1">Created on {{ collection.date_created }}</p>
            <p class="card-subtitle">Updated on {{ collection.date_updated }}</p>
            <p class="card-text mt-2">{{ collection.description }}</p>
            
            <a href="{% url 'detail' collection.id %}">Details</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}



