:root {
  --headings-font: "Karma", serif;
  --body-font: "Inter", sans-serif;
  --text-lt: #474747;
  --text: #000000;
  --sky-blu-lt: #d5edf3;
  --sky-blu: #d6e0e2;
  --blu-pop: #c1e0e6;
  --blu-pop-lt: #d6f3f9;
  --blu-pop-bright: #37adc5;
  --blu-pop-med: #01849b;
  --cream: #f4efe6;
  --green: #5e6c5b;
  --off-wht: #fefcf6;
  --grey-lt: #b2b2b2;
  --grey: #686867;
  --drk-blu: #162a2c;
}

#editor {
  height: 400px;  /* Adjust the height as needed */
}

/*  ====  GLOBAL  ====  */

body {
  background-color: var(--sky-blu);
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--green);
}

.visual-link {
  color: var(--blu-pop-bright);
  font-weight: 800;
}

.visual-link:hover {
  color: var(--blu-pop-med);
}

.selected {
  color: var(--blu-pop-bright)
}

h1, h2, h3, h4, h5 {
  font-family: var(--headings-font);
}

/*  ====  NAV  ====  */

.navbar {
  height: 8vh;
  background-color: var(--sky-blu);
}

.navbar-brand {
  font-size: 26px;
  font-family: var(--headings-font);
}

.nav-welcome {
  font-size: 18px;
}

.navbar .btn {
  font-family: var(--headings-font);
}

.nav-btn {
  font-size: 16px;
}

.nav-link {
  border: none;
  outline: none;
}

/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--green);
  height: 2px;
  transition: width 200ms ease-in-out;
}
nav.stroke ul li a:hover:after {
  width: 80%;
}

/*  ====  BUTTONS  ====  */

.btn-lg {
  padding: 10px;
}

.btn-blu {
  font-size: 14px;
  border: 1px solid var(--blu-pop-med);
  outline: none;
  background-color: var(--blu-pop);
  color: var(--text);
  transition: 200ms ease-in-out;
}

.btn-blu:hover {
  border: 1px solid var(--blu-pop-bright);
  background-color: var(--blu-pop-lt);
  color: var(--text);
  transform: scale(1.05);
}

.btn-blu-2 {
  width: 90%;
  font-size: 14px;
  border: 1px solid var(--blu-pop-med);
  outline: none;
  background-color: var(--sky-blu-lt);
  color: var(--text);
  transition: 200ms ease-in-out;
}

.btn-blu-2:hover {
  border: 1px solid var(--blu-pop-bright);
  background-color: var(--blu-pop-lt);
  color: var(--text);
  transform: scale(1.05);
}

.search-btn {
  border: none;
  outline: none;
}

/*  ====  ICONS  ====  */

.edit-icon-btn,
.search-btn {
  font-size: 20px;
}

.edit-icon-btn:hover,
.search-btn:hover {
  color: var(--blu-pop-bright);
}

/*  ====  FORMS  ====  */

form * {
  font-size: 14px;
}

.small-text {
  font-size: 12px;
}

.delete-link {
  color: rgb(168, 4, 4);
}

.delete-link:hover {
  color: rgb(228, 0, 0);
}

.ref-form-container {
  margin: 10px auto;
  border-radius: 20px;
  background-color: var(--sky-blu);
}


/*  ====  LOGIN  ====  */

.login-left-container,
.login-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-left-container {
  background-color: var(--sky-blu);
  border-radius: 50px;
}

.login-box {
  width: 400px;
  border-radius: 20px;
  padding: 20px;
}

/*  ====  WELCOME  ====  */

.welcome-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.welcome-box {
  width: 500px;
  padding: 20px;
}

.welcome-box > h2 {
  font-size: 26px;
}

.welcome-box > h4 {
  font-size: 22px;
}

/*  ====  TEMPLATE  ====  */

.content-container {
  background-color: white;
  border-radius: 30px;
  height: 80vh;
  margin-bottom: 5vh;
}

.container-title {
  font-size: 20px;
}

.container-desc {
  font-size: 14px;
}

.top-row {
  height: 5vh;
}

.border-line {
  margin: 8px auto;
  height: 1px;
  width: 95%;
  background-color: var(--grey);
}

.left-col,
.right-col {
  padding: 0 20px;
  height: calc(70vh - 40px);
  overflow-y: auto;
}

.left-col {
  border-right: 1px solid var(--grey);
}

.dropdown {
  border-radius: 5px;
  padding: 0 7px;
  margin-left: 20px;
  font-size: 14px;
  height: 34px;
}

.search-bar {
  font-size: 14px;
  height: 34px;
}

.sort-links {
  font-size: 12px;
}

.pagination * {
  font-size: 12px;
}

.collection-detail-title {
  margin-top: 10px;
  font-size: 22px;
}

.collection-detail-desc {
  font-size: 14px;
}

.ref-container {
  height: calc(70vh - 40px);
  overflow-y: auto;
}

/*  ====  CARDS  ====  */

.collection-card,
.ref-card {
  outline: 1px solid var(--grey-lt);
  border: none;
  transition: 200ms ease-in-out;
}

.collection-card:hover,
.ref-card:hover {
  border: none;
  outline: 2px solid var(--blu-pop);
  transform: scale(1.02);
  cursor: pointer;
}

.card-title {
  font-size: 18px;
}

.card-subtitle {
  font-size: 12px;
}

.card-text {
  font-size: 11px;
}

/*  ====  MEDIA QUERIES  ====  */

@media (max-width: 768px) {

  
  .left-col,
  .right-col {
    /* padding: 0px 40px 0px 40px;
    height: 300px;
    overflow-y: auto; */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .left-col,
  .right-col {
    /* padding: 0px 40px 0px 40px; */
    /* height: 300px;
    overflow-y: auto; */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .left-col,
  .right-col {
    /* padding: 20px 40px 20px 40px; */
    /* height: calc(70vh - 40px);
    overflow-y: auto; */
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-lg {
    padding: 20px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .btn-lg {
    padding: 25px;
  }
}