:root {
  --headings-font: "Karma", serif;
  --body-font: "Inter", sans-serif;
  --text: #000000;
  --sky-blu: #d6e0e2;
  --cream: #f4efe6;
  --green: #5e6c5b;
  --off-wht: #fefcf6;
  --grey: #686867;
  --drk-blu: #162a2c;
}

/*  ====  GLOBAL  ====  */

body {
  background-color: var(--sky-blu);
  font-family: var(--body-font);
}

.navbar {
  background-color: var(--sky-blu);
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--green);
}

h1, h2, h3, h4, h5 {
  font-family: var(--headings-font);
}

/*  ====  BUTTONS  ====  */

.green-btn {
  background-color: var(--green);
  color: white;
}

.green-btn:hover {
  background-color: var(--sky-blu);
  color: var(--text);
}

/*  ====  NAV  ====  */

.navbar-brand {
  font-size: 40px;
  font-family: var(--headings-font);
}

.navbar .btn {
  font-family: var(--headings-font);
}

/*  ====  LOGIN  ====  */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-box {
  width: 400px;
  border-radius: 20px;
  padding: 20px;
}

/*  ====  USER  ====  */

.content-container {
  background-color: white;
  border-radius: 60px;
  height: 80vh;
}

.left-col,
.right-col {
  padding: 20px 40px 20px 40px;
  height: calc(70vh - 40px);
  overflow-y: auto;
}

.border-line {
  margin: 15px auto;
  height: 1px;
  width: 95%;
  background-color: var(--grey);
}
.left-col {
  border-right: 1px solid var(--grey);
}

.card-subtitle {
  font-size: 12px;
}

.card-text {
  font-size: 13px;
}