{% extends 'base_shared.html' %}


{% block right %}
<div class="d-flex flex-column">
    <div class="card m-2 p-4">
        <h4 class="card-title mb-3">Notes</h4>
        {% if collection.notes.count %}
            {% for note in collection.notes.all %}
                <div class="card-text mt-2">
                    {% autoescape off %}
                    {{ note.content }}
                    {% endautoescape %}
                </div>
            {% endfor %}
        {% else %}
            <p class="card-text mt-2">No notes have been added to this collection.</p>
        {% endif %}
    </div>
    <div class="card m-2 p-4">
        <h4 class="card-title mb-3">References</h4>
        {% if collection.references.count %}
            {% for reference in collection.references.all %}
                <p class="card-text mt-2">{{ reference.name }} ({{ reference.get_type_display }})</p>
                <p class="card-text mt-2">{{ reference.url }}</p>
            {% endfor %}
        {% else %}
            <p class="card-text mt-2">No references have been added to this collection.</p>
        {% endif %}
    </div>
</div>
{% endblock %}