{% extends 'base_shared.html' %}


{% block right %}
<div class="d-flex flex-column">
    <h2 class="collection-detail-title">{{ collection.name }}</h2>
    <p class="collection-detail-desc">{{ collection.description }}</p>
    <div class="mt-4">
        <h4 class="collection-detail-title mb-3">Notes</h4>
        
        {% if collection.notes.count %}
            {% for note in collection.notes.all %}
            <div class="card my-2 p-3">
                <div class="mt-2">
                    {% autoescape off %}
                    {{ note.content }}
                    {% endautoescape %}
                </div>
            </div>
                
            {% endfor %}
        {% else %}
            <p class="collection-detail-desc mt-2">No notes have been added to this collection.</p>
        {% endif %}
    </div>
    <div class="mt-4">
        <h4 class="collection-detail-title mb-3">References</h4>
        {% if collection.references.count %}
            {% for reference in collection.references.all %}
            <div class="card my-2 p-3">
                <p class="mt-2">{{ reference.name }} ({{ reference.get_type_display }})</p>
                <p class="mt-2">{{ reference.url }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p class="collection-detail-desc mt-2">No references have been added to this collection.</p>
        {% endif %}
    </div>
</div>
{% endblock %}